<div class="mt-1 pt-1" id="chatroom">
<textarea id="textBox" cols="70" rows="25" disabled="disabled"></textarea>
</div>
<div id="inputForm">
	<form method="post" asp-controller="Home" asp-action="Chatting">
		<input name="" type="text" id="message" size="60" />
		<input type="button" id="sendBtn" value="Send" />
	</form>
</div>
@Html.Hidden("mySendingUrl", Url.Action("Chatting", "Home"))
@Html.Hidden("myLoadingUrl", Url.Action("ChatLoading", "Home"))