@model PollesViewModel

<form method="post" asp-controller="Home" asp-action="History">
	<button class="bg-white border-0 float-right" type="submit"><img src="~/history.png"></button>
</form>
<h1>Polls Management Page</h1>

<ol>
	@foreach (var poll in Model.PollesList)
	{
		<li class="border border-dark m-3 pb-4 pt-2 pr-1 pl-1" style="border-radius: 0.5em">
			<form method="post" asp-controller="Home" asp-action="PollManagement" asp-route-pollId="@poll.Id">
				<div class="float-right">
					<button class="btn" style="border-radius: 0.5em; background-color:black; color:white" name="action" value="delete">Delete</button>
					@if (poll.StatusType.StatusName != "Closed")
					{
						<button class="bg-white btn border-dark" style="border-radius: 0.5em" name="action" value="change">Modify</button>
					}
					<button class="btn-primary btn" style="border-radius: 0.5em" name="action" value="changeState">@poll.StatusType.StatusName</button>
				</div>
			</form>
			<b>Description:</b> @poll.Description
		</li>
	}
</ol>
<form method="post" asp-controller="Home" asp-action="PollManagement">
	<div style="text-align: center">
		<textarea class="form-control" style="border-radius: 0.5em" cols="120" rows="10" name="newPollDescription"></textarea>
	</div>
	<div style="text-align: center">
		<button class="btn-primary btn mt-1" style="border-radius: 0.5em" name="action" value="add">Add new poll</button>
	</div>
</form>