@model UserAdministrationViewModel

<h1 class="font-weight-bold text-center">Representative Authority page</h1>
<br>
<form method="post" asp-controller="Home" asp-action="RepresentativeAuthorityModeration" asp-route-userName="@User.Identity.Name">
	<h3>Trusted Owners<span><button class="bg-white float-right rounded-circle" type="submit">↻</button></span></h3>
</form>
<br>
<ol>
	@foreach (var authoritieCouple in Model.AuthorityDependencies)
	{
		if (authoritieCouple.RepresentativeAuthorityModel.UserName == User.Identity.Name)
		{
			<li class="border m-2 p-2">
				@Model.UserList.Find(x => x.UserID == authoritieCouple.AuthrityId.ToString());
			</li>
		}
	}
</ol>
