<h1>Home Page</h1>

<form action="/Home/Login">
	<input type="submit" value="Go to Login" />
</form>
<form action="/Home/Register">
	<input type="submit" value="Go to Register" />
</form>
<form action="/Home/Secret">
	<input type="submit" value="Go to Secret" />
</form>